extends ../layouts/common.pug
block content  
  h1 Update Information
  form(action="/users/update", method="POST")
    input(type="hidden", name="id", value=id)
    label New name
    input(type="text", name="newName")
    button Update