extends ../layouts/common.pug
block content
  h1 All users
  
  a.btn.btn-primary(href='/users/create') New 
  
  ul 
   each user in users
    li
     span= user.name
     span &nbsp
     a(href="/users/delete/"+ user.id) Delete
     span &nbsp
     a(href="/users/update/"+ user.id) Update

