extends ../layouts/common.pug
block content
  h1 All users
  
  a.btn.btn-primary(href='/users/create') New 
  
  table.table.mt-2
    tr
      th Name
      th Delete
      th Update
    each user in users
      tr 
        td= user.name
        td 
          a(href="/users/delete/"+ user.id) Delete
        td
          a(href="/users/update/"+ user.id) Update
          
