extends ../layouts/common.pug
block content
  h1 Create Transaction
  form(action='/transactions/create', method='POST')
    .form-group
      label(for='user') Choose User
      select#user.form-control(name='userId')
       each user in users
        option(value=user.id)= user.id
      label(for='book') Choose Book
      select#book.form-control(name='bookId')
       each book in books
        option(value=book.title)= book.title
    button.btn.btn-primary Create 